= form_tag bookmarks_path, :method => :get, :class => "form-search" do
  =link_to "Show All", bookmarks_path, :class => "btn" unless params[:search].blank?
  =text_field_tag :search, params[:search]
  =submit_tag "Search", :name => nil, :class => ["btn","btn-primary"]     
