=render "search_form"

%table.table
  %tr
    %th Url
    %th

  - @bookmarks.each do |bookmark|
    %tr
      %td
        %b
          =link_to bookmark.url do
            = bookmark.title
        %br
          =truncate bookmark.description, :length => 250
        %br
        =link_to bookmark.url
      %td
        = link_to bookmark, :confirm => 'Are you sure?', :method => :delete, :class => [:btn, "btn-danger"] do
          %i.icon-remove
        = link_to 'Details', bookmark, :class => :btn

%br

= link_to 'New Bookmark', new_bookmark_path, :class => [:btn, "btn-primary"]
