%p#notice= notice

%h1= @bookmark.title
%p
  =link_to @bookmark.url, @bookmark.url
%p
  =render "tags", :bookmark => @bookmark
%h2 Description
.well
  =simple_format(@bookmark.description)

.well
  =raw @bookmark.pismo_doc.html_body

= link_to 'Back', bookmarks_path
