= link_to "Bookmarks", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    =active_link_to 'New Bookmark', new_bookmark_path, :wrap_tag => :li

= form_tag bookmarks_path, :method => :get, :class => "navbar-search" do
  =text_field_tag :search, params[:search], :class => "search-query", :placeholder => "Search"

%ul.nav
  %li
    =link_to "Show All", bookmarks_path unless params[:search].blank?

%ul.nav.pull-right
  - if user_signed_in?
    =active_link_to('Edit account', edit_user_registration_path, wrap_tag: :li)
    =active_link_to('Admin', users_path, wrap_tag: :li) if current_user.has_role? :admin

    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to('Login', new_user_session_path)
  - if user_signed_in?
    =#active_link_to("Bookmarks", bookmarks_path, wrap_tag: :li)
  - else
    =active_link_to('Sign up', new_user_registration_path, wrap_tag: :li)
